export WEATHER_API_KEY='1234abcd...'
export WEATHER_CITY_GEOLOCATION='50.1233,57.1324'
export PRAYER_API_PARAMS='city=Seattle&country=US&method=2'
export MEDIA_PLAYER='cmus'
export BATTERY_NUMBER=0
export ETHERNET_INTERFACE='enp0s1'
export WIFI_INTERFACE='wlan0'
export VOLUME_DEVICE='master'
